{% extends "admin/layout.html" %}

{% block title %} All Stores {% endblock %}

{% block content %}
<div class="page-header">
    <h3 class="page-title"> All Stores </h3>
    <a class="btn btn-outline-info btn-fw btn-icon-text" href="{{url_for('admin_page_store')}}"><i class="mdi mdi-plus-circle-outline btn-icon-prepend"></i>Create New Store</a>
</div>
<div class="row">
    <div class="col-lg-12 grid-margin stretch-card">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">All Stores</h4>
          <p class="card-description">List of all Stores</p>
          <table class="table table-striped">
            <thead>
              <tr>
                <th>  </th>
                <th> Store Name </th>
                <th> URL </th>
                <th> Location </th>
                <th> Store Owner</th>
                <th> Created By</th>
                <th> </th>                                
              </tr>
            </thead>
            <tbody>
              {% for p in stores %}
              <tr>
                <td class="py-1">
                  {{ loop.index }}
                </td>
                <td> {{ p['Name'] }} </td>
                <td> {{ p['URL'] }} </td>
                <td> {{ p['Location'] }} </td>
                <td> 
                  <select class="form-control" id="ownerSelect" name="ownerSelect" disabled>
                  {% for user in users %}
                    <option value="{{user['User ID']}}" {% if p['Owner'] == user['User ID'] %}selected{% endif %}>{{user['Name']}}</option>
                  {% endfor %}
                  </select>
                </td>                
                <td> 
                  <select class="form-control" id="createdBySelect" name="createdBySelect" disabled>
                  {% for user in users %}
                    <option value="{{user['User ID']}}" {% if p['Created By'] == user['User ID'] %}selected{% endif %}>{{user['Name']}}</option>
                  {% endfor %}
                  </select>
                </td>                
                <td><a class="btn btn-sm btn-outline-dark btn-fw" href="{{ url_for('admin_page_store', id=p['ID']) }}">Edit</a> <button type="button" class="btn btn-sm btn-outline-danger btn-fw">Delete</button></td>
              </tr>              
              {% endfor %}
            </tbody>
          </table>
        </div>
      </div>
    </div>
</div>
{% endblock %}